<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/components.css" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>Profile - {{email}}</title>
  </head>
  <body>
    {{>nav isSignedIn=isSignedIn}}
    <section class="main">
      <div class="move-down info">
        <h2>Here is a summary of your information</h2>
        <table>
          <tr>
            <td class="key">Email</td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td class="key">User ID</td>
            <td>{{userId}}</td>
          </tr>
        </table>
        <br>
        <h3>Your Devices</h3>
        <br>
        <div class="device-container">
          <p>Default</p>
          <p>{{userId}}</p>
          <button class="btn hidden" type="submit">Create Device</button>
        </div>
        {{#each devices}}
          <form action="/device/delete" method="get" class="device-container">
            <input type="hidden" name="id" value={{this.[1]}} />
            <p>{{this.[0]}}</p>
            <p>{{this.[1]}}</p>
            <button class="btn" type="submit">Delete</button>
          </form>  
        {{/each}}
        <form method="GET" action="/device/create" class="add-device-form">
        <input type="text" name="name" class="form-input" placeholder="Device Name" maxlength="45">
        <button class="btn" type="submit">Create Device</button>
        </form>
      </div>
    </section>
  </body>
</html>